{% extends "juntagrico/menu/admin.html" %}
{% load i18n %}
{% block extend %}
    {% if perms.juntagrico.is_book_keeper %}
        {% with match=request.resolver_match %}
        <li class="nav-item">
            <a class="nav-link{% if match.namespace != 'jb' or 'user-bill' in match.url_name %} collapsed{% endif %}" data-toggle="collapse" href="#jb">
                <i class="bi bi-caret-down turn"></i>{% trans "Bills and Bookkeeping" %}
            </a>
            <div class="collapse{% if match.namespace == 'jb' and 'user-bill' not in match.url_name %} show{% endif %}" id="jb">
                <ul class="nav flex-column admin-menu subadmin-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jb:pending-bills-list' %}">{% trans "Pending bills" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jb:unpublished-bills-list' %}">{% trans "Unpublished bills" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jb:open-bills-list' %}">{% trans "Open bills" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jb:bills-notify' %}">{% trans "Send billing notifications" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jb:payments-upload' %}">{% trans "Import payments" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jb/bookings_export">{% trans "Export bookings" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jb/memberbalance_export">{% trans "Export member balances" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jb/accounting_summary">{% trans "Accounting Summary" %}</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endwith %}
    {% endif %}
    {{ block.super }}
{% endblock %}