{% extends "jb/list_base.html" %}
{% load i18n %}
{% load config %}
{% block page_title %}
    <h3>
        {% trans "Bills" %}
    </h3>
{% endblock %}
{% block management_cmd %}
<form class="row mb-3" action="{% url 'bills-setyear' %}" method="POST">
    {% csrf_token %} 
    <p class="col-md-2">{% trans "Year:" %} {{ selected_year.name }}</p>
    <div class="col-md-2">
        <select class="form-control" name="year" id="year" value="{{ year }}">
            {% for year in business_years %}
            <option>{{ year.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-success">
            {% trans "Change" %}
        </button>
    </div>
</form>
<form class="row mb-3" action="{% url 'bills-generate' %}" method="POST">
    {% csrf_token %}
    <p class="col-md-4">{{ billable_subscriptions | length }} {% trans "pending bills for" %} {{ selected_year.name }}.</p>
    <div class="col-md-2">
        <button type="submit" class="btn btn-success">{% trans "Generate" %}</button>
    </div>
</form>

{% endblock %}
{% block list %}
    <table id="filter-table" class="list table" style="display: table;">
        <thead>
            <tr>
                <th class="filter">
                    Nummer
                </th>
                <th class="filter">
                    {% trans "Member" %}
                </th>
                <th class="filter">
                    Datum
                </th>
                <th class="filter">
                    Text
                </th>
                <th class="filter">
                    Betrag
                </th>
                <th class="filter">
                    Bezahlt
                </th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills_list %}
                <tr>
                    <td>
                        {{ bill.ref_number }}
                    </td>
                    <td>
                        {# bill.member_name #}
                    </td>
                    <td>
                        {{ bill.bill_date |date:"Y-m-d" }}
                    </td>
                    <td>
                        {# text #}
                    </td>
                    <td>
                        {{ bill.amount }}
                    </td>
                    <td>
                        {#
                        {% if bill.paid %}
                            {{ bill.payment_date |date:"Y-m-d" }}
                        {% endif %}
                        #}
                    </td>                                      
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
