{% extends "base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block page_title %}
    <h3>{% trans "Export bookings" %}</h3>
{% endblock %}

{% block content %}
    {% for message in messages %}
        {%if message.tags == "error" %}
        <div class="alert alert-danger alert-dismissible fade show">
        {% else %}
        <div class="alert alert-success alert-dismissible fade show">
        {% endif %}
            {{ message | linebreaks }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}

    <h4>{% trans "Bookings Period" %}</h4>
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="form-row align-items-center">
            <label class="col-md-1 col-form-label" for="id_fromdate">Von</label>
            {{ daterange_form.fromdate }}
            <label class="col-md-1 col-form-label" for="id_tilldate">bis</label>
            {{ daterange_form.tilldate }}
            <button type="submit" class="col-md-2 form-control ml-2 btn btn-success">OK</button>
        </div>
        {% if daterange_form.errors %}
        <div class="alert alert-danger">{{ daterange_form.errors }}</div>
        {% endif %}

        <h4>{% trans "Preview" %}</h4>
        <div class="row">
            <div class="col-md-1">{{ bill_bookings_count }}</div>
            <div class="col-md-10">{% trans "Bill bookings" %}</div>  
        </div>
        <div class="row">
            <div class="col-md-1">{{ payment_bookings_count }}</div>
            <div class="col-md-10">{% trans "Payment bookings" %}</div>  
        </div>
        <div class="form-row">
            <button type="submit" name="export" class="col-md-2 mt-3 btn btn-success">Download Excel</button>
        </div>
        {% config "bexio_export" as c_bexio_export %}
        {% if c_bexio_export %}
        <div class="form-row align-items-center mt-3" >
            <button type="submit" name="export_bexio" class="col-md-2 btn btn-success">{% trans "Export to Bexio" %}</button>
            <div class="col-md-2 ml-4 col-form-label">{% trans "Access token" %}</div>
            <input class="col" name="bexio_token"/>
        </div>
        {% endif %}
    </form>
{% endblock %}
