{% extends "base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block page_title %}
    <h3>{% trans "Export bookings" %}</h3>
{% endblock %}

{% block content %}
    <h4>{% trans "Bookings Period" %}</h4>
    <form class="form" method="GET">
        <div class="form-row align-items-center">
            <label class="col-md-1 col-form-label" for="id_fromdate">Von</label>
            {{ daterange_form.fromdate }}
            <label class="col-md-1 col-form-label" for="id_tilldate">bis</label>
            {{ daterange_form.tilldate }}
            <button type="submit" class="col-md-2 form-control ml-2 btn btn-success">OK</button>
        </div>
        {% if daterange_form.errors %}
        <div class="alert alert-danger">{{ daterange_form.errors }}</div>
        {% endif %}

        <h4>{% trans "Preview" %}</h4>
        <div class="row">
            <div class="col-md-1">{{ bill_bookings_count }}</div>
            <div class="col-md-10">{% trans "Bill bookings" %}</div>  
        </div>
        <div class="row">
            <div class="col-md-1">{{ payment_bookings_count }}</div>
            <div class="col-md-10">{% trans "Payment bookings" %}</div>  
        </div>
            <div class="form-group">
            <button type="submit" name="export" class="col-md-2 mt-3 btn btn-success">Download Excel</button>
        </div>
    </form>
{% endblock %}
