{% extends "base.html" %}
{% load i18n %}
{% load config %}
{% block body_extra_classes %}wide-layout{% endblock %}
{% block styles %}
    <link href="/static/external/datepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    {% config "enable_shares" as enable_shares %}
    {% block management_cmd %}
    {% endblock %}
    <div id="managementlist" class="row">
        <div class="col-md-12">
            {% block list %}
            {% endblock %}
        </div>
    </div>
    <br/>
    <br/>
    <script>
        var email_string = "{% trans "Email senden" %}";
        var send_string = "{% trans "senden" %}";
        var email_single_string = "{% trans "Email an diesen" %}";
        var email_multi_string = "{% trans "Email an diese" %}"
        var member_string = "{% vocabulary "member" %}";
        var members_string = "{% vocabulary "member_pl" %}";
    </script>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/external/datatables.min.js">
    </script>
    <script type="text/javascript" src="/static/external/datepicker/datepicker.min.js">
    </script>
    <script type="text/javascript" src="/static/external/require.min.js" data-main="/static/js/initManList.js">
    </script>
    {% block extrascripts %}
    {% endblock %}
{% endblock %}
