{% extends "base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block page_title %}
    <h3>
        {% trans "Bills" %}
    </h3>
{% endblock %}
{% block content %}
    <div>
        <table id="filter-table" class="list table" searching="false" style="display: table;">
            <thead>
                <tr>
                    <th>
                        {% trans "Number" %}
                    </th>
                    <th>
                        {% trans "Date" %}
                    </th>
                    <th>
                        {% trans "Kind" %}
                    </th>
                    <th>
                        {% trans "Amount" %}
                    </th>
                    <th>
                        {% trans "Paid" %}
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bills %}
                    <tr>
                    <td>
                        <a href="{% url 'jb:user-bill' bill.pk  %}">{{ bill.pk }}</a>
                    </td>
                    <td>
                        {{ bill.bill_date|date:"SHORT_DATE_FORMAT" }}
                    </td>
                    <td>
                        {{ bill.item_kinds | linebreaks }}
                    </td>
                    <td class="text-right">
                        {{ bill.amount | floatformat:2 }}
                    </td>
                    <td>
                        {% if bill.paid %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}
                    </td>
                    <td class="text-right">
                        {% if not bill.paid %}
                        {{ amount.paid  }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'jb:user-bill-pdf' bill.pk  %}">PDF</a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/external/datatables.min.js">
    </script>
    <script type="text/javascript">
$(document).ready(function() {
    $('#filter-table').DataTable( {
        searching: false,
        paging: false,
        info: false
    } );
} );    
    </script>
    {% block extrascripts %}
    {% endblock %}
{% endblock %}
