{% extends "base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block page_title %}
    <h3>
        {% trans "Bill" %} {{ bill.pk }}
    </h3>
{% endblock %}
{% block content %}
{% config "organisation_address" as addr %}
{% config "duedate_notice_url" as notice_url %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            {{ addr.name }}<br/>
            {{ addr.street }} {{ addr.number}}<br/>
            {{ addr.zip }} {{ addr.city}}<br/>
            {{ addr.extra}}
        </div>
        <div class="col-sm">
            {{ member.first_name }} {{ member.last_name }}<br/>
            {{ member.addr_street }}<br/>
            {{ member.addr_zipcode }} {{ member.addr_location }}
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row">
        <div class="col-sm">
            <h4>{% trans "Bill" %} {{ bill.pk }}</h4>
        </div>
        <div class="col-sm align-middle text-right">
            {{ bill.bill_date|date:"SHORT_DATE_FORMAT" }}
        </div>
    </div>
    <div class="row">
        <div class="col my-3">
        {% trans "Period" %}: {{ bill.business_year.start_date|date:"SHORT_DATE_FORMAT" }} - {{ bill.business_year.end_date|date:"SHORT_DATE_FORMAT" }}
        </div>
    </div>
    <div class="row my-2"></div>
    {% for item in bill.ordered_items %}
    <div class="row">
        <div class="col-sm-10">{{ item }}</div>
        <div class="col-sm-2 text-right">{{ item.amount | floatformat:2 }}</div>
    </div>
    {% endfor %}
    <div class="row font-weight-bold mb-4">
        <div class="col-sm-10">Total</div>
        <div class="col-sm-2 text-right">{{ bill.amount | floatformat:2 }}</div>
    </div>

    {% if bill.vat_amount %}
    <div class="row">
        <p class="col">
            {% trans "Including VAT of" %} {{ vat_percent }}% ({{ bill.vat_amount | floatformat:2 }})<br>
            {% trans "VAT Number:" %} {{ vat_number }}
        </p>
    </div>
    {% endif %}

    {% if notice_url %}
    <div class="row mb-4">
        <p class="col">
            {% trans "The billed amount is due for payment according to the due date notice found here:" %}<br/>
            <a href="{{ notice_url }}" target="_blank">{{ notice_url }}</a>
         </p>
    </div>
    {% endif %}

    <div class="row mb-4"><p class="col">{{ bill.public_notes | default_if_none:"" }}</p></div>
    
    {% if payments %}
    <h4>{% trans "Payments per" %} {{ today|date:"SHORT_DATE_FORMAT" }}:</h4>
    {% for payment in payments %}
    <div class="row">
        <div class="col-sm-2">{{ payment.paid_date|date:"SHORT_DATE_FORMAT" }}</div>
        <div class="col-sm-8">{{ payment.type }}</div>
        <div class="col-sm-2 text-right">{{ payment.amount | floatformat:2 }}</div>
    </div>    
    {% endfor %}
    <div class="row font-weight-bold mt-3">
        {% if bill.paid %}
        <div class="col">{% trans "Bill paid completely" %}</div>
        {% else %}
        <div class="col-sm-5">{% trans "Amount open yet" %}:</div>
        <div class="col-sm-5"></div>
        <div class="col-sm-2 text-right">{{ open_amount | floatformat:2 }}</div>
        {% endif %}
    </div>
    {% endif %}
    
    <div class="row my-3">
        <div class="col"><a href="{% url 'jb:user-bill-pdf' bill.pk  %}">{% trans "Download as PDF" %}</a></div>
    </div>

    {% if qr_svg %}
{{ qr_svg | safe }}
    {% else %}
    <p class="mt-5">
        {% config "organisation_address" as addr %}
        {% trans "Please pay specifying bill number to:" %}<br>
        IBAN {{ paymenttype.iban }}<br>
        {{ paymenttype.name }}<br>
        {% trans "in favor of" %}<br> 
        {{ addr.name }}, {{ addr.zip }} {{ addr.city }}
    </p>
    {% endif %}   
</div>

{% endblock %}

